<!DOCTYPE html>
<html>
<head>
    <title>Predict</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='prediction.css') }}">
</head>
<body>
    <div class="container">
        <h1>Enter Features for Prediction</h1>
        <h2>Sample of data should be entered in features are:</h2> 
        <h3>0.02731,  0.00,   7.070,  0,  0.4690,  6.4210,  78.90,  4.9671,   2,  242.0,  17.80,  396.90,  9.14</h3>
        <form action="/predict" method="post">
            <div class="form-group">
                <label class="label" for="feature1">Per capita crime rate by town :</label>
                <input class="input" type="text" id="feature1" name="CRIM" required><br>
            </div>
            <div class="form-group">
                <label class="label" for="feature2">Proportion of residential land zoned for lots over 
                25,000 sq.ft. :</label>
                <input class="input" type="text" id="feature2" name="ZN" required><br>
            </div>
            <div class="form-group">
                <label class="label" for="feature3">Proportion of non-retail business acres per town :</label>
                <input class="input" type="text" id="feature3" name="INDUS" required><br>
            </div>
            <div class="form-group">
                <label class="label" for="feature4">Charles River dummy variable (= 1 if tract bounds 
                river; 0 otherwise) :</label>
                <input class="input" type="text" id="feature4" name="CHAS" required><br>
            </div>
            <div class="form-group">
                <label class="label" for="feature5">nitric oxides concentration (parts per 10 million) :</label>
                <input class="input" type="text" id="feature5" name="NOX" required><br>
            </div>
            <div class="form-group">
                <label class="label" for="feature6">average number of rooms per dwelling:</label>
                <input class="input" type="text" id="feature6" name="RM" required><br>
            </div>
            <div class="form-group">
                <label class="label" for="feature7">proportion of owner-occupied units built prior to 1940 :</label>
                <input class="input" type="text" id="feature7" name="AGE" required><br>
            </div>
            <div class="form-group">
                <label class="label" for="feature8">weighted distances to five Boston employment centres :</label>
                <input class="input" type="text" id="feature8" name="DIS" required><br>
            </div>
            <div class="form-group">
                <label class="label" for="feature9">index of accessibility to radial highways :</label>
                <input class="input" type="text" id="feature9" name="RAD" required><br>
            </div>
            <div class="form-group">
                <label class="label" for="feature10">full-value property-tax rate per $10,000 :</label>
                <input class="input" type="text" id="feature10" name="TAX" required><br>
            </div>
            <div class="form-group">
                <label class="label" for="feature11">pupil-teacher ratio by town :</label>
                <input class="input" type="text" id="feature11" name="PTRATIO" required><br>
            </div>
            <div class="form-group">
                <label class="label" for="feature12">1000(Bk - 0.63)^2 where Bk is the proportion of blacks 
                by town :</label>
                <input class="input" type="text" id="feature12" name="B" required><br>
            </div>
            <div class="form-group">
                <label class="label" for="feature13">% lower status of the population :</label>
                <input class="input" type="text" id="feature13" name="LSTAT" required><br>
            </div>
            <input class="button" type="submit" value="Predict">
        </form>
    </div>
</body>
</html>
